@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

@supports (font-variation-settings: "wght" 700) {
   * {
     font-family: 'Inconsolata';
     font-weight: 700;
   }
}

:root {
   --color1: #012E40;
   --color2: #024959;
   --color3: #3CA6A6;
   --color4: #026773;
   --color5: #F2E3D5;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: var(--color1);
   color: var(--color5);
   font-family: 'Inconsolata', monospace;
   margin: 0;
   padding: 0;
}

body::-webkit-scrollbar{
   width: 0.25rem;
}

body::-webkit-scrollbar-track{
   background: var(--color1);
}

body::-webkit-scrollbar-thumb{
   background: var(--color2);
}

header{
   background-color: var(--color1);
   position: fixed;
   width: 100%;
}

header a {
   text-decoration: none;
   padding: 10px;
   color: var(--color3);
}

header a:hover {
   color: var(--color4);
   transition: 0.3s;
}

div {
   padding: 20px;
}

#home {
   display: flex;
   /* text-align: center; */
   align-items: center;
   justify-content: space-around;
}

#home h2 {
   color: var(--color3);
   font-size: clamp(1em, 1.5vw, 2em);
}

#home div{
   padding: 260px 40px;
}

#home img{
   text-align: right;
   margin: auto;
}

#home div h1{
   color: var(--color4);
}

#home button {
   background-color: var(--color2);
   border-radius: 4px;
   width: 150px;
   height: 30px;
   border: none;
   font-weight: 700wg;
   color: #F2E3D5;
}

#home button:hover {
   background-color: #F2E3D5;
   color: var(--color2);
   cursor: pointer;
}

#about {
   align-items: center;
   background-color: var(--color2);
   padding: 200px 50px;
   margin: 0;
}

#about p{
   font-size: 20px;
}

.cards h1{
   color: var(--color3);
   font-size: clamp(1.75em, 2em, 2.5em);
}

#skills {
   padding: 270px 50px;
   display: flex;
   justify-content: center;
   margin: 0 auto;
}

#skills ul{
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

#skills li {
   font-size: clamp(0.7em, 1.2vw, 2em);
   padding: 2px;
   white-space: nowrap;
}

.skillsList {
   border: 1px solid var(--color3);
}

#softSkills {
   text-align: right;
}

footer {
   color: var(--color1);
   display: flex;
   justify-content: center;
   height: 100px;
   align-items: center;
   background-color: var(--color3);
}

footer a{
   padding: 10px;
   text-decoration: none;
   color: var(--color1);
}